body {
  background-color: black;
  color: #cccccc;
}

.navbar-default {
  background-color: red;
}

.navbar img {
  width: 50px;
}

.highlights {
  padding-top: 30px;
}

.highlights img {
  border: solid #aaaaaa 2px;
}

.footer {
  padding-top: 40px;
  text-align: center;
}

.about-online {
  padding-top: 30px;
}
.about-online .img-thumbnail {
  height: 100px;
}

.about-text {
  padding-top: 30px;
}

.projects {
  padding-top: 30px;
  padding-bottom: 50px;
}

.wsop-text img {
  padding: 30px;
}